/* Main */
main {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 48px 80px 96px 80px;
}

.loader {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  min-height: 400px;
  background-color: var(--white);
}
.spinner {
  position: relative;
  animation: rotator 1.4s linear infinite;
}
.path {
  stroke: var(--primary);
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite;
}

.category {
  width: fit-content;
  padding: 8px 20px;
  border-radius: 8px;
  background-color: var(--primary);
  color: var(--white);
}
.title-wrap {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
  padding: 24px 0;
  border-bottom: 1px solid var(--dark-3);
}
.title-wrap .bookmark-btn,
.title-wrap .share-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
.title-wrap .bookmark-btn {
  margin: 0 12px 0 auto;
  border: 1px solid var(--dark-4);
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgb(223 224 223 / 20%);
}
.title-wrap .bookmark-btn > i {
  color: var(--dark-3);
  font-size: 18px;
}
.title-wrap .bookmark-btn.active > i {
  color: var(--primary);
}
.title-wrap .share-btn > i {
  color: var(--primary);
  font-size: 20px;
}
.title-wrap .bookmark-btn:hover > i,
.title-wrap .share-btn:hover > i {
  color: var(--primary-light);
}

/* Section: content */
.content-con {
  display: flex;
  gap: 48px;
  margin-bottom: 80px;
}
.content-con .contents {
  flex: 0 0 65%;
}
.content-con aside {
  flex: 1;
}
.recipe-img {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 40px;
  padding-top: 66.66%;
  border-radius: 8px;
}
.recipe-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ingredients h3 {
  margin-bottom: 16px;
}
.ingredients ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
  gap: 16px;
}
.ingredients ul li {
  display: flex;
  align-items: center;
  gap: 12px;
}
.ingredients ul li > p {
  font-weight: var(--fw-m);
}
.ingredients .checkbox {
  display: none;
}
.ingredients .checkmark {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid var(--primary);
  border-radius: 4px;
}
.ingredients .checkmark:after {
  content: '';
  display: none;
  position: absolute;
  top: 3px;
  left: 7px;
  width: 4px;
  height: 8px;
  border: solid var(--white);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.ingredients .checkbox:checked + .checkmark {
  border: none;
  background-color: var(--primary);
}
.ingredients .checkbox:checked + .checkmark:after {
  display: block;
}

/* Aside */
.nutrition {
  margin-bottom: 48px;
  padding: 24px 32px 32px 32px;
  border: 1px solid var(--dark-4);
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgb(95 99 95 / 10%);
}
.nutrition > p {
  margin-bottom: 16px;
  font-size: var(--fs-xl);
  font-weight: var(--fw-sb);
}
.nutrition ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.nutrition ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--dark-3);
}
.recipe-tip {
  min-height: 200px;
  margin-bottom: 48px;
  padding: 24px 32px;
  border-radius: 8px;
  background-color: var(--primary-subtle);
}
.recipe-tip > .tip-title {
  margin-bottom: 12px;
  font-size: var(--fs-xl);
  font-weight: var(--fw-sb);
}
.recipe-tip > .tip-title > i {
  margin-right: 8px;
  color: var(--primary);
  font-size: 20px;
}
.recipe-tip .tip-content {
  line-height: 2;
}
.tags p {
  margin-bottom: 12px;
  font-size: var(--fs-xl);
  font-weight: var(--fw-sb);
}
.tags span {
  margin-right: 8px;
  color: var(--dark-2);
}

/* Section: steps */
.steps-con {
  margin-bottom: 48px;
}
.steps-con h3 {
  margin-bottom: 24px;
}
.steps-con ul {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;
}
.steps-con ul li {
  display: flex;
}
.steps-con .step-img {
  overflow: hidden;
  width: 200px;
  min-width: 200px;
  height: calc(200px * 2 / 3);
  border-radius: 8px;
}
.steps-con .step-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.step-num {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  min-width: 28px;
  height: 28px;
  min-height: 28px;
  margin-left: 48px;
  margin-right: 16px;
  border-radius: 50%;
  background-color: var(--primary);
  color: var(--white);
  font-weight: var(--fw-m);
}
.steps-con ul li p {
  font-size: var(--fs-l);
  line-height: 1.8;
}

.back-btn {
  display: block;
  margin-left: auto;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: var(--primary);
  color: var(--white);
}
.back-btn:hover {
  background-color: var(--primary-light);
}
