# Operating System files
.DS_Store

# IDE and Editor folders
.vscode/

# Node.js dependencies
node_modules/

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log

# API_KEY
config.js

# Yarn dependency directories
node_modules/
.yarn/

# Yarn error and log files
yarn-error.log
yarn-debug.log*

# Yarn Zero-Install configuration (optional)
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz